<div class="container">
  <div style="text-align:left">
    <h3>ー管理者トップー</h3>

    <div class="row">
      <div class="col-lg-7">
        <h3>⭐︎本日の注文件数　　
    	  <u><%= link_to @orders.count, admins_orders_path %></u>  件</h3><!--　本日の注文件数を表示させる -->
      </div>
    </div>
  </div>
</div>




<div class="container">
  <div style="text-align:center">
    <div class="row">
      <div class="col-lg-5">
        <br><h3><button span style="background-color:palegreen"><%= link_to "新しい商品登録へ..", new_admins_product_path %></button>
        </h3>
      </div>
    </div>
  </div>
</div>


