<div style="text-align:center">
  <h3>ご利用の皆様へお知らせ</h3>

  <div style="text-align:center">
    <%= image_tag 'stayhome_logo.png', size: "340x340" %>
  </div>
    <p>いつも弊社サービスをご利用いただき誠にありがとうございます。<br>
	   現在、新型コロナウイルス感染拡大防止に伴う緊急事態宣言が発出されている為<br>
	   店舗によっては臨時休業している場合がございます。<br>
       詳細に関しましては、各店舗お問い合わせ窓口までご連絡お願い致します。<br>
       ご利用のお客様にはご不便おかけしますが、ご理解頂きますようよろしくお願い申し上げます。</p>
    <h3><font color="red">-STAY HOME- #おうちで過ごそう</font></h3>
</div>

  <h4 class="name"><br>
	<strong><%= link_to "Nagano Cake.com一同", root_path %></strong>
  </h4>




