<!-- customers/top.html.erb -->
<!-- ヘッダー挿入 -->

<div class="container">
  <div class="row row-eq-height">
    <div class="col-md-3" style="background-color: silver;">
     <!-- renderで部分テンプレート入る？ジャンル検索コーナー -->

      <h3>ジャンル検索</h3>
         <p>ケーキ<br>
            焼き菓子<br>
            プリン<br>
            キャンディ</p>
    </div>

  <!-- <div class="row"> -->
    <div class="col-md-9" style="background-color: #CCCCFF;">
      <div class="row">
        <div class="introduction", style="border: 4px double #ff6699;font-size: 90%; padding: 20px;", align="center">
          <font face="monospace">
            <h1>ようこそ、NaganoCakeへ！</h1><br>
             <h4>長野・信州特産フルーツをふんだんに使用した<br>オリジナCakeのオンラインストアです。<br>
             会員でない方でも商品の閲覧は可能です！<br>
             購入には会員登録が必要になります。</h4></font>
        </div>
      </div>



      <div class="row">
        <div class="recommend">
          <font face="monospace">
            <h2>〜本日のオススメ商品〜</h2>

      <!-- 商品のeachメソッド入れる -->

      <!-- attachmentのやつ入れたい。 -->
      <!-- :imageのところはカラム名image_idを想定してる。 -->
              <td><%= attachment_image_tag @product, :image, :fill, 150, 150, format: 'jpg', class:"img-circle" %>       </td>
              <td><strong>商品名</strong></td>
              <td><strong>¥</strong></td><!-- 価格を表示させたい -->
      <!-- eachメソッドのend入れる -->

            <ins><%= link_to "もっと見る", products_path %></ins>
          </font>

        </div>
      </div>

    </div>

  </div>
</div>
