
<div style="text-align:center">
  <%= image_tag 'flower.jpg', size: "540x330"  %>
</div>

<font face="sans-serif", color="grey">
<div style="text-align:center">
  <h2><strong>ご購入誠にありがとうございました♪</strong><br>
  	ご注文内容確認メールを<font color="maroon"><u><%= current_customer.email %></u></font>宛に送信したから<br>
  	商品が届くまで待っててねっ❤️</h2></font>
</div>


<div style="text-align:center">
　  <h3><%= link_to "商品一覧ページへ戻る", products_path %>　/
    <%= link_to "注文履歴一覧へ", orders_path(current_customer.id) %></h3>
</div>
