<br>
<div style="text-align:center">
  <h2><strong>ご購入ありがとうございました♪<br>
  	<p>ご自宅に届くまでもうしばらくお待ちください！</strong></p></h2>
</div>


<div style="text-align:right">
　<h4><strong><%= link_to "商品一覧ページへ戻るんるんへ♬ Yeah..Yeah...Huh〜〜〜！！！/ ", products_path, class:"text-danger" %>
<%= link_to "あなたの注文履歴一覧へ", orders_path(current_customer.id), class:"text-muted" %></h4></strong>
</div>
