/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
    background-image: image-url("");
    background-attachment: fixed;
    background-size: cover;
    margin-top: 50px;
}

header {
    color:white;
}

header .navbar-left span {
    font-size: 25px;
}
.main {
	min-height: 600px;
}


/* admin */
.bg-admin {
	background-color: #fff;
	width: 100%;
	height: auto;
}
.headline-admin {
	color: #333;
}
.caption-admin {
	color: #333;
}
.p-admin {
	color: #5E5E5E;
}
.table-admin {
	background-color: #D5D5D5;
}
.card-admin {
	background-color: #D5D5D5;
	padding: 20px;
	margin-bottom: 10px;
}
.form-admin {
	background-color: #D5D5D5;
}
.btn-admin {
	color: #D5D5D5;
	background-color: #5E5E5E;
}
/* admin */

/* EC_signup_signin */
.headline-sign {
	color: #333;
}
.caption-sign {
	color: #333;
}
.card-sign {
	background-color: #D5D5D5;
	padding: 20px;
}
.btn-sign {
	color: #D5D5D5;
	background-color: #5E5E5E;
}
.p-sign {
	color: #5E5E5E;
}
/* EC_signup_signin */