/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
    background-image: image-url("");
    background-attachment: fixed;
    background-size: cover;
}

header {
    color:white;
}

header .navbar-left span {
    font-size: 25px;
}

body {
    margin-top: 120px;
}

/* admin */
.bg-admin {
	background-color: #fffffe;
	width: 100%;
	height: auto;
}
.headline-admin {
	color: #33272a;
}
.p-admin {
	color: #594a4e;
}
.table-admin {
	background-color: #faeee7;
}
.card-admin {
	background-color: #faeee7;
	padding: 20px 0;
}
.form-admin {
	background-color: #faeee7;
}
.btn-admin {
	color: #33272a;
	background-color: #ff8ba7;
}
/* admin */