// Place all the styles related to the cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.headline-cart {
	color: #333;
}
.p-cart {
	color: #5e5e5e;
}
.caption-cart {
	color: #333;
}
.btn-cart {
	color: #d5d5d5;
	background-color: #5e5e5e;
}