// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.product{
 float:left;
 padding:10px;
}

.oohara{
 margin-top:30px;
 margin-bottom:15px;
}

.cover {
  background-image: url('cake3.jpg');
  width: 720px;
  height: 520px;
  background-size: cover;
  padding-top: 50px;
  margin: 0 auto;
}