// Place all the styles related to the deliveries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.headline-delivery {
	color: #333;
}
.caption-delivery {
	color: #333;
}
.card-delivery {
	background-color: #d5d5d5;
	padding: 20px;
	margin-bottom: 10px;
}
.p-delivery {
	color: #5e5e5e;
}
.btn-delivery {
	color: #d5d5d5;
	background-color: #5e5e5e;
}
.btn-delivery-edit {
	color: #5e5e5e;
	background: #d5d5d5;
}