// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.headline-order {
	color: #333;
}
.caption-order {
	color: #333;
}
.p-order {
	color: #5e5e5e;
}
.card-order {
	background-color: #d5d5d5;
	padding: 20px;
}
.table-order {
	background-color: #d5d5d5;
}
.btn-order {
	color: #d5d5d5;
	background-color: #5e5e5e;
}